{% extends 'base.html' %}
{% block content %}

{% load l10n %}

<div class="bet__list">
{% for object in object_list %}
  <div id="bets__container">
    <div id="bet__container" class="{% if object.value < 0 %} bet__color {% else %} win__color {% endif %}">
      <div class="bet__content">
        <p>{{ object.description }}</p>
        <p>R${% if object.value < 0 %}{{ object.value|localize|slice:"1:" }}{% else %}{{ object.value|localize }}{% endif%}</p>
      </div>
    </div>

    <div id="detail__container">
      <div class="detail__content">
        <p>
          ID: #{{ object.pk }}
          {{ object.created_at}}
        </p>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}