@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: radial-gradient(circle, #01441a 10%, transparent 11%);
    background-size: 3em 3em;
    background-color: #016D29;
    opacity: 1;
}

.login__container,
.signup__container{
    max-width: 100%;
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
}

.login__content,
.signup__content{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: #fff;
}

.errorlist li{
    list-style: none !important;
}