.header__container{
    max-width: 1920px;
    width: 100%;
    height: 90px;
    background: #014407;
}

.header__content{
    display: flex;
    max-width: 1460px;
    width: 100%;
    height:100%;
    padding: 0 10px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header__title a{
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.header__login{
    font-size: 20px;
    color: #fff;
    font-family: sans-serif;
    position: relative;
}

.login::after{
    content: "";
    width: 100%;
    height: 36px;
    position: absolute;
    top: -8px;
    left: -32px;
}

.header__account{
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
}
.header__details::before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0;
    transition: all .3s ease-out;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.header__details:hover::before,
.header__account:hover .header__popup{
    opacity: 1;
    visibility: visible;
}

.header__popup{
    position: absolute;
    bottom: -49px;
    left: 0;
    width: 100%;
    background: #fff;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out;
}

.header__popup button{
    border: 0;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}