{% extends "base.html" %}
{% block content %}

{% load l10n humanize %}
<h1 id="caiocoins_h1">SEUS CAIOCOINS C$<span id="caiocoins">{{ object.total_caiocoins|floatformat:2|localize }}</span> </h1>

<div id="div_quantia">
    <input type="number" name="Quantia" id="iQuantia" min='1'>
    <button id="bQuantia">
        Adicionar "Fundos"
    </button>
</div>

<div class="bet__list">
    {% for object in object.movement_set.all|dictsortreversed:"pk"|slice:"5" %}
      <div id="bets__container">
        <div id="bet__container" class="{% if object.value < 0 %} bet__color {% else %} win__color {% endif %}">
          <div class="bet__content">
            <p>{{ object.description }}</p>
            <p>R${% if object.value < 0 %}{{ object.value|localize|slice:"1:" }}{% else %}{{ object.value|localize }}{% endif%}</p>
          </div>
        </div>
    
        <div id="detail__container">
          <div class="detail__content">
            <p>
              ID: #{{ object.pk }}
              {{ object.created_at}}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

<br>

<a href="{% url 'movement' %}" id="mvmnt_button">Ver Mais</a>

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).on('click', '#bQuantia', function (e) {
        let objResposta = {}
        let valor = $('#iQuantia')[0].value
        objResposta.user_id = "{{ request.user.id }}"
        objResposta.value = valor
        console.log(objResposta)
        $.ajax({
            url: "{% url 'postcoins' %}",
            method: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(objResposta),
            success: (function (data, status) {
                $('#caiocoins')[0].innerText = data.coins
                location.reload();
            })
        })
    })

</script>
{% endblock %}