#bet__container{
    display: flex;
    justify-content: space-around;
}

#detail__container{
    background-color: rgb(220, 220, 255);
}

#bets__container{
    margin-bottom: 10px;
}

.bet__color{
    background-color: #cb0000;
}

.win__color{
    background-color: #047404;
}

.bet__list{
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 10px;
    border: 5px solid #000;
    --s: 150px; /* control the size*/
    --c1: #541805;
    --c2: #902b09;
    background:
    linear-gradient(135deg,#0000 18.75%,var(--c1) 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,var(--c1) -6.25% 6.25%,var(--c2) 0 18.75%);
    background-size: var(--s) var(--s); 
}

.bet__content{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    width: 100vw;
    padding: 2px 5px;
}

.bet__content p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.detail__content{
    max-width: 1300px;
    margin: 0 auto;
    width: 100vw;
    padding: 2px 5px;
}

.detail__content p{
    color: #000;
    font-size: 18px;
    font-weight: 500;
}
