#mvmnt_button{
    margin: 0;
    border: 0;
    background: #b88c0b;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out;
    display: inline-block;
    position: relative;
    left: 47%;
}

#caiocoins_h1{
    position: relative;
    left: 40%;
    color: #FFF;
}

#bQuantia{
    margin-top: 10px;
    border: 0;
    background: #b88c0b;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out;
    display: inline-block;
}

#div_quantia{
    position: relative;
    left: 788px;
}

#div_quantia input{
    height: 28px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
}

.bet__list{
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 10px;
    border: 5px solid #000;
    --s: 150px; /* control the size*/
    --c1: #541805;
    --c2: #902b09;
    background:
    linear-gradient(135deg,#0000 18.75%,var(--c1) 0 31.25%,#0000 0),
    repeating-linear-gradient(45deg,var(--c1) -6.25% 6.25%,var(--c2) 0 18.75%);
    background-size: var(--s) var(--s); 
}

.bet__content{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    width: 100vw;
    padding: 2px 5px;
}

.bet__content p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.detail__content{
    max-width: 1300px;
    margin: 0 auto;
    width: 100vw;
    padding: 2px 5px;
}