{% extends "base.html" %}
{% block content %}

<main class='login__container'>
  <div class='login__content'>
    <h2 class='login__title'>Log In</h2>
    <form method="post">
      {% csrf_token %}
      <div>
        <div class="login__connection">
          <label for="id_username">Usuário:</label>
          <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150"
            required="" id="id_username">
        </div>
        <div class="login__connection">
          <label for="id_password">Senha:</label>
          <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
        </div>
      </div>
  
      <div>
        {{ form.non_field_errors }}
      </div>
  
      <div class='login__buttons'>
        <a href="{% url 'signup' %}" class='login__log'>Sign Up</a>
        <button class="login__log" type="submit">Log In</button>
      </div>
  
    </form>
  </div>
</main>

{% endblock %}