{% extends "base.html" %}
{% block content %}

<div class="signup__container">
  <div class="signup__content">
    <h2 class="signup__title">Criar conta</h2>
    <div class="signup__conection">
      <form method="post">
        {% csrf_token %}
        <div class="signup__conection">
          <label for="id_username">Usuário:</label>
          <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus=""
            required="" aria-describedby="id_username_helptext" id="id_username" value="{% if form.username.value %} {{ form.username.value }} {% endif %}">
        </div>
        <div class="signup__space" id="id_username_helptext">
          <p>
            Obrigatório. 150 caracteres ou menos. Letras, dígitos e @/./+/-/_
            apenas.
          </p>
        </div>

        <div class="signup__space">
          {{ form.username.errors }}
        </div>


        <div class="signup__conection">
          <label for="id_password1">Senha:</label>
          <input type="password" name="password1" autocomplete="new-password" required=""
            aria-describedby="id_password1_helptext" id="id_password1">
        </div>

        
        <div class="signup__space">
          {{ form.password1.errors }}
        </div>

        <div class="signup__conection">
          <label for="id_password2" id="password_cnfrm">Confirmar senha:</label>
          <input type="password" name="password2" autocomplete="new-password" required=""
            aria-describedby="id_password2_helptext" id="id_password2">
        </div>

        <div class="signup__space">
          {{ form.password2.errors }}
        </div>

        <div class="signup__buttons">
          <a href="{% url 'login' %}" class="signup__log">Log In</a>
          <button type="submit" class="signup__log" signup="signup">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}