.login__content{
    max-width: 440px;
    width: 100%;
    padding: 10px;
    top: calc(50% - 200px);
}

.login__title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
}

.login__connection{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login__connection:last-child label{
    margin-right: 9px;
}

.login__connection input{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.login__buttons{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 10px 0 0;
}

.login__log{
    margin: 0;
    border: 0;
    background: #b88c0b;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out;
}
.login__log:hover{
    background-color: #a17c0b;
}

