.signup__content{
    max-width: 550px;
    width: 100%;
    padding: 15px;
    top: calc(50% - 290px);
}

.signup__title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
}

.signup__conection{
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.signup__conection form{
    width: 100%;
}

.signup__conection input,
.signup__conection ul li,
.signup__conection p{
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
    list-style: initial;
}

.signup__conection input{
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    margin-bottom: 0;
}

.signup__space{
    padding-left: 18px;
}
ul.signup__space{
    margin-left: 18px;
}

.signup__buttons{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 20px 0 0;
}

.signup__log{
    margin: 0;
    border: 0;
    background: #b88c0b;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-out;
}
.signup__log:hover{
    background-color: #a17c0b;
}

#password_cnfrm{
    max-width: 116px;
    width: 100%;
}