{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/geral.css' %}">
    <link rel="stylesheet" href="{% static 'main/header.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/signup.css' %}">
    <link rel="stylesheet" href="{% static 'wallet/movement-list.css' %}">
    <link rel="stylesheet" href="{% static 'wallet/wallet.css' %}">
    <link rel="stylesheet" href="{% static 'games/roleta.css' %}">
    <title>Caiossino</title>

    {% block head-roleta %}     
        
    {% endblock %}

</head>
<body>
    <section>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}
    </section>
    
    <section>
        {% block content %}

        {% endblock %}
    </section>


    {% block script %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="{% static 'scripts/main.js' %}"></script>
    {% endblock %}

</body>
</html>





