{% extends "base.html" %}
{% load static %}

{% block head-roleta %}
  <link rel="apple-touch-icon" type="image/png"
          href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">       
  <meta name="apple-mobile-web-app-title" content="CodePen">        
  <link rel="shortcut icon" type="image/x-icon"
    href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">          
  <link rel="mask-icon" type="image/x-icon"
    href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg"
    color="#111">    
  <script
    src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>         
  <link rel="canonical" href="https://codepen.io/ozboware/pen/QWqEmgE">    
  <script>
    window.console = window.console || function(t) {};
  </script>      
{% endblock %}

{% block content %}

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script id="rendered-js">
    let bet = [];

    function showWinMessage(){
      let div = document.getElementById('winDiv');
      div.children[0].src = "{% static 'images/stonks.png' %}";
      div.classList.remove('div__win__hide');
    }

    function showLoseMessage(){
      let divLose = document.getElementById('winDiv');
      divLose.children[0].src = "{% static 'images/not_stonks.png' %}";
      divLose.classList.remove('div__win__hide');
    }

    function parseBetData(betData){
      parsedData = []
      betData.forEach(e => {
        parsedObj = {}
        parsedObj['id'] = "{{ request.user.id }}"
        parsedObj['value'] = e.amt
        parsedObj['str'] = e.numbers
        parsedData.push(parsedObj)
      })
      return parsedData
    }

    function debitCoins(coins){
      document.getElementById('bankSpan').innerText = coins.toLocaleString("pt-BR");
    }

    $(document).on('click', '.spinBtn', function(e) {
      this.remove();
      let randomNumber;

      let parsedBets = parseBetData(bet);
      $.ajax({
        url:"{% url 'postbets' %}",
        method: "POST",
        dataType : "json",
        contentType : "application/json; charset=utf-8",
        data: JSON.stringify(parsedBets),
        success: (function(data, status){
          debitCoins(data.before_bet.coins);
          spin(data.secret_number, data.after_bet.coins, data.won);
      })
      })
    });

    let bankValue = parseFloat("{{ request.user.wallet.total_caiocoins }}");
    let currentBet = 0;
    let wager = 5;
    let lastWager = 0;
    //let bet = [];
    let numbersBet = [];
    let previousNumbers = [];

    let numRed = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36];
    let wheelnumbersAC = [0, 26, 3, 35, 12, 28, 7, 29, 18, 22, 9, 31, 14, 20, 1, 33, 16, 24, 5, 10, 23, 8, 30, 11, 36, 13, 27, 6, 34, 17, 25, 2, 21, 4, 19, 15, 32];

    let container = document.createElement('div');
    container.setAttribute('id', 'container');
    document.body.append(container);

    startGame();

    let wheel = document.getElementsByClassName('wheel')[0];
    let ballTrack = document.getElementsByClassName('ballTrack')[0];

    function resetGame() {
      bankValue = parseFloat("{{ request.user.wallet.total_caiocoins }}");
      currentBet = 0;
      wager = 5;
      bet = [];
      numbersBet = [];
      previousNumbers = [];
      document.getElementById('betting_board').remove();
      document.getElementById('notification').remove();
      buildBettingBoard();
    }

    function startGame() {
      buildWheel();
      buildBettingBoard();
    }

    function gameOver() {
      let notification = document.createElement('div');
      notification.setAttribute('id', 'notification');
      let nSpan = document.createElement('span');
      nSpan.setAttribute('class', 'nSpan');
      nSpan.innerText = 'Bankrupt';
      notification.append(nSpan);

      let nBtn = document.createElement('div');
      nBtn.setAttribute('class', 'nBtn');
      nBtn.innerText = 'Play again';
      nBtn.onclick = function () {
        resetGame();
      };
      notification.append(nBtn);
      container.prepend(notification);
    }

    function buildWheel() {
      let winDiv = document.createElement('div');
      winDiv.setAttribute('id', 'winDiv');
      let img = document.createElement('img');
      let btn = document.createElement('button');
      btn.id = 'close';
      btn.innerText = 'X';
      btn.addEventListener('click',  () => {
        let div = document.getElementById('winDiv');
        div.classList.add('div__win__hide');
      })
      img.src = "{% static 'images/stonks.png' %}";
      winDiv.appendChild(img);
      winDiv.appendChild(btn);
      winDiv.classList.add('div__win__hide');
      winDiv.classList.add('div__win');

      let motivacaoImg = document.createElement('img');
      motivacaoImg.src = "{% static 'images/motivacao.png' %}";
      motivacaoImg.id = 'motivacaoImg';

      let wheel = document.createElement('div');
      wheel.setAttribute('class', 'wheel');

      let outerRim = document.createElement('div');
      outerRim.setAttribute('class', 'outerRim');
      wheel.append(outerRim);

      let numbers = [0, 32, 15, 19, 4, 21, 2, 25, 17, 34, 6, 27, 13, 36, 11, 30, 8, 23, 10, 5, 24, 16, 33, 1, 20, 14, 31, 9, 22, 18, 29, 7, 28, 12, 35, 3, 26];
      for (i = 0; i < numbers.length; i++) {if (window.CP.shouldStopExecution(0)) break;
        let a = i + 1;
        let spanClass = numbers[i] < 10 ? 'single' : 'double';
        let sect = document.createElement('div');
        sect.setAttribute('id', 'sect' + a);
        sect.setAttribute('class', 'sect');
        let span = document.createElement('span');
        span.setAttribute('class', spanClass);
        span.innerText = numbers[i];
        sect.append(span);
        let block = document.createElement('div');
        block.setAttribute('class', 'block');
        sect.append(block);
        wheel.append(sect);
      }window.CP.exitedLoop(0);

      let pocketsRim = document.createElement('div');
      pocketsRim.setAttribute('class', 'pocketsRim');
      wheel.append(pocketsRim);

      let ballTrack = document.createElement('div');
      ballTrack.setAttribute('class', 'ballTrack');
      let ball = document.createElement('div');
      ball.setAttribute('class', 'ball');
      ballTrack.append(ball);
      wheel.append(ballTrack);

      let pockets = document.createElement('div');
      pockets.setAttribute('class', 'pockets');
      wheel.append(pockets);

      let cone = document.createElement('div');
      cone.setAttribute('class', 'cone');
      wheel.append(cone);

      let turret = document.createElement('div');
      turret.setAttribute('class', 'turret');
      wheel.append(turret);

      let turretHandle = document.createElement('div');
      turretHandle.setAttribute('class', 'turretHandle');
      let thendOne = document.createElement('div');
      thendOne.setAttribute('class', 'thendOne');
      turretHandle.append(thendOne);
      let thendTwo = document.createElement('div');
      thendTwo.setAttribute('class', 'thendTwo');
      turretHandle.append(thendTwo);
      wheel.append(turretHandle);

      container.append(wheel);
      container.append(winDiv);
      document.body.appendChild(motivacaoImg);
    }

  function buildBettingBoard() {
    let bettingBoard = document.createElement('div');
    bettingBoard.setAttribute('id', 'betting_board');

    let wl = document.createElement('div');
    wl.setAttribute('class', 'winning_lines');

    var wlttb = document.createElement('div');
    wlttb.setAttribute('id', 'wlttb_top');
    wlttb.setAttribute('class', 'wlttb');
    for (i = 0; i < 11; i++) {if (window.CP.shouldStopExecution(1)) break;
      let j = i;
      var ttbbetblock = document.createElement('div');
      ttbbetblock.setAttribute('class', 'ttbbetblock');
      var numA = 1 + 3 * j;
      var numB = 2 + 3 * j;
      var numC = 3 + 3 * j;
      var numD = 4 + 3 * j;
      var numE = 5 + 3 * j;
      var numF = 6 + 3 * j;
      let num = numA + ':' + numF;
      var objType = 'double_street';
      ttbbetblock.onclick = function () {
        setBet(this, num, objType, 5);
      };
      ttbbetblock.oncontextmenu = function (e) {
        e.preventDefault();
        removeBet(this, num, objType, 5);
      };
      wlttb.append(ttbbetblock);
    }window.CP.exitedLoop(1);
    wl.append(wlttb);

    for (c = 1; c < 4; c++) {if (window.CP.shouldStopExecution(2)) break;
      let d = c;
      var wlttb = document.createElement('div');
      wlttb.setAttribute('id', 'wlttb_' + c);
      wlttb.setAttribute('class', 'wlttb');
      for (i = 0; i < 12; i++) {if (window.CP.shouldStopExecution(3)) break;
        let j = i;
        var ttbbetblock = document.createElement('div');
        ttbbetblock.setAttribute('class', 'ttbbetblock');
        ttbbetblock.onclick = function () {
          if (d == 1 || d == 2) {
            var numA = 2 - (d - 1) + 3 * j;
            var numB = 3 - (d - 1) + 3 * j;
            var num = numA + ', ' + numB;
          } else
          {
            var numA = 1 + 3 * j;
            var numB = 2 + 3 * j;
            var numC = 3 + 3 * j;
            var num = numA + ':' + numC;
          }
          var objType = d == 3 ? 'street' : 'split';
          var odd = d == 3 ? 11 : 17;
          setBet(this, num, objType, odd);
        };
        ttbbetblock.oncontextmenu = function (e) {
          e.preventDefault();
          if (d == 1 || d == 2) {
            var numA = 2 - (d - 1) + 3 * j;
            var numB = 3 - (d - 1) + 3 * j;
            var num = numA + ', ' + numB;
          } else
          {
            var numA = 1 + 3 * j;
            var numB = 2 + 3 * j;
            var numC = 3 + 3 * j;
            var num = numA + ':' + numC;
          }
          var objType = d == 3 ? 'street' : 'split';
          var odd = d == 3 ? 11 : 17;
          removeBet(this, num, objType, odd);
        };
        wlttb.append(ttbbetblock);
      }window.CP.exitedLoop(3);
      wl.append(wlttb);
    }window.CP.exitedLoop(2);

    for (c = 1; c < 12; c++) {if (window.CP.shouldStopExecution(4)) break;
      let d = c;
      var wlrtl = document.createElement('div');
      wlrtl.setAttribute('id', 'wlrtl_' + c);
      wlrtl.setAttribute('class', 'wlrtl');
      for (i = 1; i < 4; i++) {if (window.CP.shouldStopExecution(5)) break;
        let j = i;
        var rtlbb = document.createElement('div');
        rtlbb.setAttribute('class', 'rtlbb' + i);
        var numA = 3 + 3 * (d - 1) - (j - 1);
        var numB = 6 + 3 * (d - 1) - (j - 1);
        let num = numA + ', ' + numB;
        rtlbb.onclick = function () {
          setBet(this, num, 'split', 17);
        };
        rtlbb.oncontextmenu = function (e) {
          e.preventDefault();
          removeBet(this, num, 'split', 17);
        };
        wlrtl.append(rtlbb);
      }window.CP.exitedLoop(5);
      wl.append(wlrtl);
    }window.CP.exitedLoop(4);

    for (c = 1; c < 3; c++) {if (window.CP.shouldStopExecution(6)) break;
      var wlcb = document.createElement('div');
      wlcb.setAttribute('id', 'wlcb_' + c);
      wlcb.setAttribute('class', 'wlcb');
      for (i = 1; i < 12; i++) {if (window.CP.shouldStopExecution(7)) break;
        let count = c == 1 ? i : i + 11;
        var cbbb = document.createElement('div');
        cbbb.setAttribute('id', 'cbbb_' + count);
        cbbb.setAttribute('class', 'cbbb');
        var numA = '2';
        var numB = '3';
        var numC = '5';
        var numD = '6';
        let num = count >= 1 && count < 12 ? parseInt(numA) + (count - 1) * 3 + ', ' + (parseInt(numB) + (count - 1) * 3) + ', ' + (parseInt(numC) + (count - 1) * 3) + ', ' + (parseInt(numD) + (count - 1) * 3) : parseInt(numA) - 1 + (count - 12) * 3 + ', ' + (parseInt(numB) - 1 + (count - 12) * 3) + ', ' + (parseInt(numC) - 1 + (count - 12) * 3) + ', ' + (parseInt(numD) - 1 + (count - 12) * 3);
        var objType = 'corner_bet';
        cbbb.onclick = function () {
          setBet(this, num, objType, 8);
        };
        cbbb.oncontextmenu = function (e) {
          e.preventDefault();
          removeBet(this, num, objType, 8);
        };
        wlcb.append(cbbb);
      }window.CP.exitedLoop(7);
      wl.append(wlcb);
    }window.CP.exitedLoop(6);

    bettingBoard.append(wl);

    let bbtop = document.createElement('div');
    bbtop.setAttribute('class', 'bbtop');
    let bbtopBlocks = ['1 to 18', '19 to 36'];
    for (i = 0; i < bbtopBlocks.length; i++) {if (window.CP.shouldStopExecution(8)) break;
      let f = i;
      var bbtoptwo = document.createElement('div');
      bbtoptwo.setAttribute('class', 'bbtoptwo');
      let num = f == 0 ? 'low' : 'high';
      var objType = f == 0 ? 'outside_low' : 'outside_high';
      bbtoptwo.onclick = function () {
        setBet(this, num, objType, 1);
      };
      bbtoptwo.oncontextmenu = function (e) {
        e.preventDefault();
        removeBet(this, num, objType, 1);
      };
      bbtoptwo.innerText = bbtopBlocks[i];
      bbtop.append(bbtoptwo);
    }window.CP.exitedLoop(8);
    bettingBoard.append(bbtop);

    let numberBoard = document.createElement('div');
    numberBoard.setAttribute('class', 'number_board');

    let zero = document.createElement('div');
    zero.setAttribute('class', 'number_0');
    var objType = 'zero';
    var odds = 35;
    zero.onclick = function () {
      setBet(this, '0', objType, odds);
    };
    zero.oncontextmenu = function (e) {
      e.preventDefault();
      removeBet(this, '0', objType, odds);
    };
    let nbnz = document.createElement('div');
    nbnz.setAttribute('class', 'nbn');
    nbnz.innerText = '0';
    zero.append(nbnz);
    numberBoard.append(zero);

    var numberBlocks = [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, '2 to 1', 2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, '2 to 1', 1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, '2 to 1'];
    var redBlocks = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 21, 23, 25, 27, 30, 32, 34, 36];
    for (i = 0; i < numberBlocks.length; i++) {if (window.CP.shouldStopExecution(9)) break;
      let a = i;
      var nbClass = numberBlocks[i] == '2 to 1' ? 'tt1_block' : 'number_block';
      var colourClass = redBlocks.includes(numberBlocks[i]) ? ' redNum' : nbClass == 'number_block' ? ' blackNum' : '';
      var numberBlock = document.createElement('div');
      numberBlock.setAttribute('class', nbClass + colourClass);
      numberBlock.onclick = function () {
        if (numberBlocks[a] != '2 to 1') {
          setBet(this, '' + numberBlocks[a] + '', 'inside_whole', 35);
        } else {
          num = a == 12 ? 'third_column' : a == 25 ? 'second_column' : 'first_column';
          setBet(this, num, 'outside_column', 2);
        }
      };
      numberBlock.oncontextmenu = function (e) {
        e.preventDefault();
        if (numberBlocks[a] != '2 to 1') {
          removeBet(this, '' + numberBlocks[a] + '', 'inside_whole', 35);
        } else {
          num = a == 12 ? 'third_column' : a == 25 ? 'second_column' : 'first_column';
          removeBet(this, num, 'outside_column', 2);
        }
      };
      var nbn = document.createElement('div');
      nbn.setAttribute('class', 'nbn');
      nbn.innerText = numberBlocks[i];
      numberBlock.append(nbn);
      numberBoard.append(numberBlock);
    }window.CP.exitedLoop(9);
    bettingBoard.append(numberBoard);

    let bo3Board = document.createElement('div');
    bo3Board.setAttribute('class', 'bo3_board');
    let bo3Blocks = ['1 to 12', '13 to 24', '25 to 36'];
    for (i = 0; i < bo3Blocks.length; i++) {if (window.CP.shouldStopExecution(10)) break;
      let b = i;
      var bo3Block = document.createElement('div');
      bo3Block.setAttribute('class', 'bo3_block');
      bo3Block.onclick = function () {
        num = b == 0 ? 'first_dozen' : b == 1 ? 'second_dozen' : 'third_dozen';
        setBet(this, num, 'outside_dozen', 2);
      };
      bo3Block.oncontextmenu = function (e) {
        e.preventDefault();
        num = b == 0 ? 'first_dozen' : b == 1 ? 'second_dozen' : 'third_dozen';
        removeBet(this, num, 'outside_dozen', 2);
      };
      bo3Block.innerText = bo3Blocks[i];
      bo3Board.append(bo3Block);
    }window.CP.exitedLoop(10);
    bettingBoard.append(bo3Board);

    let otoBoard = document.createElement('div');
    otoBoard.setAttribute('class', 'oto_board');
    let otoBlocks = ['EVEN', 'RED', 'BLACK', 'ODD'];
    for (let i = 0; i < otoBlocks.length; i++) {if (window.CP.shouldStopExecution(11)) break;
      var colourClass = otoBlocks[i] == 'RED' ? ' redNum' : otoBlocks[i] == 'BLACK' ? ' blackNum' : '';
      var otoBlock = document.createElement('div');
      otoBlock.setAttribute('class', 'oto_block' + colourClass);
      otoBlock.onclick = function () {
        num = otoBlocks[i].toLowerCase()
        setBet(this, num, 'outside_oerb', 1);
      };
      otoBlock.oncontextmenu = function (e) {
        num = otoBlocks[i].toLowerCase()
        e.preventDefault();
        removeBet(this, num, 'outside_oerb', 1);
      };
      otoBlock.innerText = otoBlocks[i];
      otoBoard.append(otoBlock);
    }window.CP.exitedLoop(11);
    bettingBoard.append(otoBoard);

    let chipDeck = document.createElement('div');
    chipDeck.setAttribute('class', 'chipDeck');
    let chipValues = [1, 5, 10, 100, 'clear'];
    for (i = 0; i < chipValues.length; i++) {if (window.CP.shouldStopExecution(12)) break;
      let cvi = i;
      let chipColour = i == 0 ? 'red' : i == 1 ? 'blue cdChipActive' : i == 2 ? 'orange' : i == 3 ? 'gold' : 'clearBet';
      let chip = document.createElement('div');
      chip.setAttribute('class', 'cdChip ' + chipColour);
      chip.onclick = function () {
        if (cvi !== 4) {
          let cdChipActive = document.getElementsByClassName('cdChipActive');
          for (i = 0; i < cdChipActive.length; i++) {if (window.CP.shouldStopExecution(13)) break;
            cdChipActive[i].classList.remove('cdChipActive');
          }window.CP.exitedLoop(13);
          let curClass = this.getAttribute('class');
          if (!curClass.includes('cdChipActive')) {
            this.setAttribute('class', curClass + ' cdChipActive');
          }
          wager = parseInt(chip.childNodes[0].innerText);
        } else {
          currentBet = 0;
          document.getElementById('betSpan').innerText = '' + currentBet.toLocaleString("en-GB") + '';
          clearBet();
          removeChips();
        }
      };
      let chipSpan = document.createElement('span');
      chipSpan.setAttribute('class', 'cdChipSpan');
      chipSpan.innerText = chipValues[i];
      chip.append(chipSpan);
      chipDeck.append(chip);
    }window.CP.exitedLoop(12);
    bettingBoard.append(chipDeck);

    let bankContainer = document.createElement('div');
    bankContainer.setAttribute('class', 'bankContainer');

    let bank = document.createElement('div');
    bank.setAttribute('class', 'bank');
    let bankSpan = document.createElement('span');
    bankSpan.setAttribute('id', 'bankSpan');
    bankSpan.innerText = '' + "{{ request.user.wallet.total_caiocoins }}" + '';
    bank.append(bankSpan);
    bankContainer.append(bank);

    let bet = document.createElement('div');
    bet.setAttribute('class', 'bet');
    let betSpan = document.createElement('span');
    betSpan.setAttribute('id', 'betSpan');
    betSpan.innerText = '' + currentBet.toLocaleString("en-GB") + '';
    bet.append(betSpan);
    bankContainer.append(bet);
    bettingBoard.append(bankContainer);

    let pnBlock = document.createElement('div');
    pnBlock.setAttribute('class', 'pnBlock');
    let pnContent = document.createElement('div');
    pnContent.setAttribute('id', 'pnContent');
    pnContent.onwheel = function (e) {
      e.preventDefault();
      pnContent.scrollLeft += e.deltaY;
    };
    pnBlock.append(pnContent);
    bettingBoard.append(pnBlock);

    container.append(bettingBoard);
  }

  function clearBet() {
    bet = [];
    numbersBet = [];
  }

  function setBet(e, n, t, o) {
    lastWager = wager;
    spanValue = parseFloat(document.getElementById('bankSpan').innerText);

    if(currentBet + wager > spanValue){
      wager = spanValue - currentBet
    }
    if (wager > 0) {
      if (!container.querySelector('.spinBtn')) {
        let spinBtn = document.createElement('div');
        spinBtn.setAttribute('class', 'spinBtn');
        spinBtn.innerText = 'spin';
        container.append(spinBtn);
      }
      currentBet = currentBet + wager;
      document.getElementById('betSpan').innerText = '' + currentBet.toLocaleString("en-GB") + '';
      for (i = 0; i < bet.length; i++) {if (window.CP.shouldStopExecution(14)) break;
        if (bet[i].numbers == n && bet[i].type == t) {
          bet[i].amt = bet[i].amt + wager;
          let chipColour = bet[i].amt < 5 ? 'red' : bet[i].amt < 10 ? 'blue' : bet[i].amt < 100 ? 'orange' : 'gold';
          e.querySelector('.chip').style.cssText = '';
          e.querySelector('.chip').setAttribute('class', 'chip ' + chipColour);
          let chipSpan = e.querySelector('.chipSpan');
          chipSpan.innerText = bet[i].amt;
          return;
        }
      }window.CP.exitedLoop(14);
      var obj = {
        amt: wager,
        type: t,
        odds: o,
        numbers: n };

      bet.push(obj);

      if (!e.querySelector('.chip')) {
        let chipColour = wager < 5 ? 'red' : wager < 10 ? 'blue' : wager < 100 ? 'orange' : 'gold';
        let chip = document.createElement('div');
        chip.setAttribute('class', 'chip ' + chipColour);
        let chipSpan = document.createElement('span');
        chipSpan.setAttribute('class', 'chipSpan');
        chipSpan.innerText = wager;
        chip.append(chipSpan);
        e.append(chip);
      }
    }
  }

  function spin(winningSpin, coins, win) {
    spinWheel(winningSpin);
    setTimeout(function () {
      currentBet = 0;
      document.getElementById('betSpan').innerText = '' + currentBet.toLocaleString("en-GB") + '';

      let pnClass = numRed.includes(winningSpin) ? 'pnRed' : winningSpin == 0 ? 'pnGreen' : 'pnBlack';
      let pnContent = document.getElementById('pnContent');
      let pnSpan = document.createElement('span');
      pnSpan.setAttribute('class', pnClass);
      pnSpan.innerText = winningSpin;
      pnContent.append(pnSpan);
      pnContent.scrollLeft = pnContent.scrollWidth;

      bet = [];
      numbersBet = [];
      removeChips();
      wager = lastWager;
      if (bankValue == 0 && currentBet == 0) {
        gameOver();
      }
      document.getElementById('bankSpan').innerText = coins.toLocaleString("pt-BR");
      if(win){
        showWinMessage();
      } else {
        showLoseMessage();
      }
    }, 10000);
  }

  function win(winningSpin, winValue, betTotal) {
    if (winValue > 0) {
      let notification = document.createElement('div');
      notification.setAttribute('id', 'notification');
      let nSpan = document.createElement('div');
      nSpan.setAttribute('class', 'nSpan');
      let nsnumber = document.createElement('span');
      nsnumber.setAttribute('class', 'nsnumber');
      nsnumber.style.cssText = numRed.includes(winningSpin) ? 'color:red' : 'color:black';
      nsnumber.innerText = winningSpin;
      nSpan.append(nsnumber);
      let nsTxt = document.createElement('span');
      nsTxt.innerText = ' Win';
      nSpan.append(nsTxt);
      let nsWin = document.createElement('div');
      nsWin.setAttribute('class', 'nsWin');
      let nsWinBlock = document.createElement('div');
      nsWinBlock.setAttribute('class', 'nsWinBlock');
      nsWinBlock.innerText = 'Bet: ' + betTotal;
      nSpan.append(nsWinBlock);
      nsWin.append(nsWinBlock);
      nsWinBlock = document.createElement('div');
      nsWinBlock.setAttribute('class', 'nsWinBlock');
      nsWinBlock.innerText = 'Win: ' + winValue;
      nSpan.append(nsWinBlock);
      nsWin.append(nsWinBlock);
      nsWinBlock = document.createElement('div');
      nsWinBlock.setAttribute('class', 'nsWinBlock');
      nsWinBlock.innerText = 'Payout: ' + (winValue + betTotal);
      nsWin.append(nsWinBlock);
      nSpan.append(nsWin);
      notification.append(nSpan);
      container.prepend(notification);
      setTimeout(function () {
        notification.style.cssText = 'opacity:0';
      }, 3000);
      setTimeout(function () {
        notification.remove();
      }, 4000);
    }
  }

  function removeBet(e, n, t, o) {
    wager = wager == 0 ? 100 : wager;
    for (i = 0; i < bet.length; i++) {if (window.CP.shouldStopExecution(17)) break;
      if (bet[i].numbers == n && bet[i].type == t) {
        if (bet[i].amt != 0) {
          wager = bet[i].amt > wager ? wager : bet[i].amt;
          bet[i].amt = bet[i].amt - wager;
          currentBet = currentBet - parseInt(e.querySelector('.chip').innerText);
          document.getElementById('betSpan').innerText = '' + currentBet.toLocaleString("en-GB") + '';
          
          if (bet[i].amt == 0) {
            e.querySelector('.chip').style.cssText = 'display:none';
          } else {
            let chipColour = bet[i].amt < 5 ? 'red' : bet[i].amt < 10 ? 'blue' : bet[i].amt < 100 ? 'orange' : 'gold';
            e.querySelector('.chip').setAttribute('class', 'chip ' + chipColour);
            let chipSpan = e.querySelector('.chipSpan');
            chipSpan.innerText = bet[i].amt;
          }
          bet.splice(i, 1);
          e.querySelector('.chip').remove();
        }
      }
    }window.CP.exitedLoop(17);

    if (currentBet == 0 && container.querySelector('.spinBtn')) {
      document.getElementsByClassName('spinBtn')[0].remove();
    }
  }

  function spinWheel(winningSpin) {
    for (i = 0; i < wheelnumbersAC.length; i++) {if (window.CP.shouldStopExecution(18)) break;
      if (wheelnumbersAC[i] == winningSpin) {
        var degree = i * 9.73 + 362;
      }
    }window.CP.exitedLoop(18);
    wheel.style.cssText = 'animation: wheelRotate 5s linear infinite;';
    ballTrack.style.cssText = 'animation: ballRotate 1s linear infinite;';

    setTimeout(function () {
      ballTrack.style.cssText = 'animation: ballRotate 2s linear infinite;';
      style = document.createElement('style');
      style.type = 'text/css';
      style.innerText = '@keyframes ballStop {from {transform: rotate(0deg);}to{transform: rotate(-' + degree + 'deg);}}';
      document.head.appendChild(style);
    }, 2000);
    setTimeout(function () {
      ballTrack.style.cssText = 'animation: ballStop 3s linear;';
    }, 6000);
    setTimeout(function () {
      ballTrack.style.cssText = 'transform: rotate(-' + degree + 'deg);';
    }, 9000);
    setTimeout(function () {
      wheel.style.cssText = '';
      style.remove();
    }, 10000);
  }

  function removeChips() {
    var chips = document.getElementsByClassName('chip');
    if (chips.length > 0) {
      for (i = 0; i < chips.length; i++) {if (window.CP.shouldStopExecution(19)) break;
        chips[i].remove();
      }window.CP.exitedLoop(19);
      removeChips();
    }
  }
</script>

{% endblock %}